#### SIPP1991 401K data

#### logs

5/15/2024 WL: template provided. TODO: write a brief intro to the data discussing the background, and the meaning of the variables; do a bit data summary and regression along the similar lines of ldw data.


Data source: SIPP 1991 (Abadie, 2003)
Description of the data: the sample selection and variable construction follow

Abadie, Alberto (2003), "Semiparametric instrumental variable estimation of treatment response
models," Journal of Econometrics, Elsevier, vol. 113(2), pages 231-263, April.

The variables in the data set include:

\begin{align*}
%\begin{array}{ll}
\hline \text { Variable } & \quad \text { Description } \\
\hline \text { net tfa } &\quad  \text { Net total financial assets } \\
\text { e401 } &\quad  \text { = 1 if employers offers 401(k) } \\
\text { p401 } &\quad  \text { = 1 if the employee participates 401(k) } \\
\text { age } & \quad \text { age } \\
\text { inc } &\quad  \text { income } \\
\text { fsize } &\quad  \text { family size } \\
\text { educ } &\quad  \text { years of education }\\
\text { db } &\quad  \text { = 1 if indivudual has defined benefit pension } \\
\text { marr } &\quad \text { = 1 if married } \\
\text { twoearn } &\quad \text { = 1 if two-earner household } \\
\text { pira } &\quad \text { = 1 if individual participates in IRA } \\
\text { hown } &\quad \text { = 1 if home owner } \\
\hline
%\end{array}
\end{align*}

In [107]:
import io
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import requests
from data_process import load_rdata

# Print the current working directory
print("Current working directory: {0}".format(os.getcwd()))

Current working directory: c:\Users\philh\Projects\One\401K

In [110]:
fin_data = load_rdata(r"C:\Users\philh\Projects\One\401K\data\sipp1991.Rdata")
df = list(fin_data.values())[0].drop(["nifa", "tw"], axis=1)
df.head()

,net_tfa,age,inc,fsize,educ,db,marr,twoearn,e401,p401,pira,hown
rownames,,,,,,,,,,,,
1,0.0,47,6765.0,2,8,0,0,0,0,0,0,1
2,1015.0,36,28452.0,1,16,0,0,0,0,0,0,1
3,-2000.0,37,3300.0,6,12,1,0,0,0,0,0,0
4,15000.0,58,52590.0,2,16,0,1,1,0,0,0,1
5,0.0,32,21804.0,1,11,0,0,0,0,0,0,1

In [111]:
#Statistics
print(df.describe())

            net_tfa          age            inc        fsize         educ  \
count  9.915000e+03  9915.000000    9915.000000  9915.000000  9915.000000
mean   1.805153e+04    41.060212   37200.623197     2.865860    13.206253
std    6.352250e+04    10.344505   24774.288006     1.538937     2.810382
min   -5.023020e+05    25.000000   -2652.000000     1.000000     1.000000
25%   -5.000000e+02    32.000000   19413.000000     2.000000    12.000000
50%    1.499000e+03    40.000000   31476.000000     3.000000    12.000000
75%    1.652450e+04    48.000000   48583.500000     4.000000    16.000000
max    1.536798e+06    64.000000  242124.000000    13.000000    18.000000

                db         marr      twoearn         e401         p401  \
count  9915.000000  9915.000000  9915.000000  9915.000000  9915.000000
mean      0.271004     0.604841     0.380837     0.371357     0.261624
std       0.444500     0.488909     0.485617     0.483192     0.439541
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     1.000000     0.000000     0.000000     0.000000
75%       1.000000     1.000000     1.000000     1.000000     1.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

              pira         hown
count  9915.000000  9915.000000
mean      0.242158     0.635199
std       0.428411     0.481399
min       0.000000     0.000000
25%       0.000000     0.000000
50%       0.000000     1.000000
75%       0.000000     1.000000
max       1.000000     1.000000